.grid 
{
  display : grid;
  grid-template-columns: repeat(3, 1fr);
}

.element 
{
  margin: 0px;
  padding : 10px;
  border-style: solid;
  border-width: 1px;
}

#inventory 
{
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  width: 90%;
  border-radius: 5px;
  order: 8; 
}

#inventory > select 
{
  width: 270px;
}

#inventory > button, .deleteLink
{
  background-color: #656464;
  border-radius: .25em;
  color: #D1D7E0;
  padding: 0px 2px;
  margin-left: 10px;
  height: 1.5rem;
  font-size: 10px;
  cursor: pointer;
}

.deleteLink
{
  color: red;
}

#inventory > button:hover 
{
  background-color: rgba(141,0,0, 1);
  color: white;
}



