.gridSpells 
{
  display : grid;
  grid-template-rows: repeat(4, 1fr);
}

.elementSpells 
{
  margin: 4px;
  padding : 5px;
  width : 200px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#spells
{
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  width : 90%;
  height : 90%;
  order: 9; 
}

.Spell.enabled, .Spell.disabled
{
  height: 20px;
  border-radius: 20px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  display: inline-grid;
  color: white !important;
}

.Spell.enabled
{
  background-color: rgba(141,0,0, 1);
}

.Spell.disabled
{
  background-color: rgba(141,0,0, 0.425);
}

.SpellsButton, .SpellsButton2 
{
  width: 5em;
  height :1em !important; 
  font-size: 15px;
  border-radius: 25px;
  background-color: #656464;
  cursor: pointer;
  line-height: 1em;
  color : white;
  padding: 0 0rem;
}

.SpellsButton 
{
  width:1em !important;
}

.SpellsButton:hover
{
  background-color: #4CAF50;
  color: white;
}