
.stats2{
  order : 7;
  flex : 1 0 25%;
  width: auto;

}

.stats {
  order: 5; 
  flex : 1 0 25%;
  }

#stats2{
  margin:auto;
}


p{
  margin:0px;
  border-style: solid;
  border-width: 1px;
  width: 100px;

}

#skillsArea{
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  width: 90%;
  height: 100%;
  flex : 1 0 25%;
  order : 6;
}

.SkillsButton {
  width:1em !important;
  height :1em !important; 
  font-size: 15px;
  line-height: 1em;
  border-radius: 25px;
  background-color: #656464;
  cursor: pointer;
  color : white;
  padding: 0 0rem;
}

.SkillsButton:hover{
  background-color: #2b2a2a ;
  color: white;
}