div
{
 font-size: 10px;
 margin : 10px;
 width: 100px;
}

div > .searchInput {
    margin : 0px;
}

.inputResults {
  display: none;
}

.inputResults > a {
  background: #DFE6E1;
  color : black;
  margin: 0;
  margin-left: 10px;
  height: 15px;
  display: block;
  cursor: pointer;
}

.inputResults >a:hover {
  background: rgb(132, 136, 133);
}

.searchInput:focus-within > .inputResults, .inputResults:hover {
  display: block;
}
